.JobCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.JobCardList__card {
  margin-bottom: 1rem;
  margin-top: 20px;
}

.input {
  width: 50px;
  padding: 20px;
}
