.JobCardList {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.JobCardList__card {
  margin-bottom: 1rem;
  margin-top: 20px;
}

.JobCardList__input {
  width: 400px;
  color: rgb(148, 148, 148);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 1rem 2rem 0;
  outline: none;
}

.JobCardList__list {
  width: 76%;
  margin: 0 auto;
}
