.Header {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #24292f;
  color: #fff;
}

.Header__input {
  width: 20%;
  background-color: #24292f;
  color: #fff;
}

.Header__logo-link {
  text-decoration: none;
  color: #fff;
}

.Header__logo-text {
  font-size: 1rem;
  width: 6rem;
}

.Header__nav-items {
  display: flex;
  align-items: center;
  color: #fff;
}
