.SearchBar {
  border: 6px orangered solid;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
}

.SearchBar__input-wrap {
  display: flex;
  border: 6px solid orangered;
  width: 80%;
}
